body
{
background-image:url("bgimg");

}
html
{
color : red;
}

#picture{
                position:absolute;
                top: 750px;
}
#op{
                position:absolute;
                top: 950px;
}
p
{
				float :right;

}
