@(course: Course, questionForm: Form[String], email: Option[String])

@import helper._

@main("course.title") {
  <header>
    @email match {
      case Some(email) => {
        <span>@email</span> <a href="@routes.Application.logout">Logout</a>
      }
      case None        => {
        <a href="@routes.Application.login">Login</a>
      }
    }
  </header>
     <p>
   <script id="sid0010000021168666134">(function() {function async_load(){s.id="cid0010000021168666134";s.src='http://st.chatango.com/js/gz/emb.js';s.style.cssText="width:250px;height:360px;";s.async=true;s.text='{"handle":"SmartQuestion","styles":{"a":"000000","b":100,"c":"33FF00","d":"33FF00","e":"000000","g":"33FF00","h":"000000","j":"33FF00","k":"33FF00","l":"33FF00","m":"FFFFFF","n":"33FF00","o":0,"p":"9","t":0,"ab":0}}';var ss = document.getElementsByTagName('script');for (var i=0, l=ss.length; i < l; i++){if (ss[i].id=='sid0010000021168666134'){ss[i].id +='_';ss[i].parentNode.insertBefore(s, ss[i]);break;}}}var s=document.createElement('script');if (s.async==undefined){if (window.addEventListener) {addEventListener('load',async_load,false);}else if (window.attachEvent) {attachEvent('onload',async_load);}}else {async_load();}})();</script>
   </p>

  <h1>@course.title</h1>
  
  <ul>
    @course.questions.map { question =>
      <li>
	@question.workstationId @if(question.answered) { (answered) }
	
	@form(routes.Application.deleteQuestion(question.id)) {
	  <input type="submit" value="Delete">
	}
  @form(routes.Application.setQuestionAsAnswered(question.id)) {
    <input type="submit" value="Mark as answered">
  }
      </li>
    }
  </ul>
  
  <h2>J'ai une question!</h2>
  
   
  @form(routes.Application.newQuestion) {
     
     @inputText(questionForm("workstationId"))
     
     <input type="submit" value="Create">
   
   }
   <div id="op">
   <iframe width="640" height="360" src="http://www.youtube.com/embed/VjcnoDO1oBU?rel=0" frameborder="0" allowfullscreen></iframe>
   </div>
   
   <div id="picture">

     <img src="@routes.Assets.at("images/gourmetxhunter1.gif")" alt="gourmet" />
     <img src="@routes.Assets.at("images/gourmetxhunter2.gif")" alt="gourmet" />
     <img src="@routes.Assets.at("images/gourmetxhunter3.gif")" alt="gourmet" />
   </div>
   
   
   } 


