@(loginForm: Form[String], errorMessage: String)

@import helper._

@main("Login") {
	<p>@errorMessage</p>

	@form(routes.Application.loginPost) {
		@inputText(loginForm("openid"))
		<input type="submit" value="Login">
	}
	
	
		@form(routes.Application.loginPost){
		<!-- boss code ahead-->
		<input type="hidden" value= "https://www.google.com/accounts/o8/id" name = "openid">
		<input type="submit" value= "Login with Google" />
		
	}	
		
		
		@form(routes.Application.loginPost){
		<!-- boss code ahead-->
		<input type="hidden" value= "me.yahoo.com" name = "openid">
		<input type="submit" value= "Login with Yahoo" />
		
	}
}